/* This file will hold styles that are loaded using the same media query as the narrow grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the normal and widescreen layouts. You may override these styles in the normal
 *  and widescreen CSS files as appropriate. */
/**************************************************
* --
* 3. Section content
* --
**************************************************/
/**********************************************
* 3.2. Zone content
**********************************************/
/*******************************************
* 3.2.1. Sidebar first
*******************************************/
/* Price range */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/holos\.pantheon\/sites\/all\/themes\/omega_kickstart\/scss\/omega-kickstart-alpha-default-narrow\.scss}line{font-family:\0000318}}
#search-api-ranges-block-slider-view-form label {
  float: none; }

/*******************************************
* 3.2.2. Content
*******************************************/
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/holos\.pantheon\/sites\/all\/themes\/omega_kickstart\/scss\/omega-kickstart-alpha-default-narrow\.scss}line{font-family:\0000324}}
#promotional_banner .promotional_banner_special_offer {
  float: right;
  /* LTR */
  line-height: 22px;
  margin-top: 4px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/holos\.pantheon\/sites\/all\/themes\/omega_kickstart\/scss\/omega-kickstart-alpha-default-narrow\.scss}line{font-family:\0000330}}
#block-views-demo-content-slideshow-block-1 {
  /* HP blocks: Slideshow */ }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/holos\.pantheon\/sites\/all\/themes\/omega_kickstart\/scss\/omega-kickstart-alpha-default-narrow\.scss}line{font-family:\0000333}}
  #block-views-demo-content-slideshow-block-1 .bx-wrapper,
  #block-views-demo-content-slideshow-block-1 .bx-wrapper .bx-window {
    padding-bottom: 0; }

/**************************************************
* --
* 5. Commerce specific
* --
**************************************************/
/**********************************************
* 5.1. Search & Collection page
**********************************************/
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/holos\.pantheon\/sites\/all\/themes\/omega_kickstart\/scss\/omega-kickstart-alpha-default-narrow\.scss}line{font-family:\0000346}}
.view-collection-products .view-header .collection-terms .view-content .item-list,
.view-collection-taxonomy-term .view-header .collection-terms .view-content .item-list {
  display: block;
  float: none; }

/**********************************************
* 5.3. Product page
**********************************************/
/**
* Add to cart popin.
*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/holos\.pantheon\/sites\/all\/themes\/omega_kickstart\/scss\/omega-kickstart-alpha-default-narrow\.scss}line{font-family:\0000357}}
div.messages.commerce-add-to-cart-confirmation .message-inner .added-product-title {
  float: left;
  /* LTR */
  width: 180px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/holos\.pantheon\/sites\/all\/themes\/omega_kickstart\/scss\/omega-kickstart-alpha-default-narrow\.scss}line{font-family:\0000361}}
div.messages.commerce-add-to-cart-confirmation .message-inner .button-wrapper {
  height: 100%;
  position: absolute;
  right: 0;
  /* LTR */ }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/holos\.pantheon\/sites\/all\/themes\/omega_kickstart\/scss\/omega-kickstart-alpha-default-narrow\.scss}line{font-family:\0000367}}
div.messages.commerce-add-to-cart-confirmation .message-inner .view-confirm-message-product-display {
  float: left;
  /* LTR */ }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/holos\.pantheon\/sites\/all\/themes\/omega_kickstart\/scss\/omega-kickstart-alpha-default-narrow\.scss}line{font-family:\0000370}}
  div.messages.commerce-add-to-cart-confirmation .message-inner .view-confirm-message-product-display .view-content .views-field-commerce-product .content .field-name-field-images {
    clear: left;
    /* LTR */
    float: left;
    /* LTR */ }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/holos\.pantheon\/sites\/all\/themes\/omega_kickstart\/scss\/omega-kickstart-alpha-default-narrow\.scss}line{font-family:\0000379}}
.node-product-type .cloud-zoom-container #wrap {
  float: right !important;
  /* LTR */ }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/holos\.pantheon\/sites\/all\/themes\/omega_kickstart\/scss\/omega-kickstart-alpha-default-narrow\.scss}line{font-family:\0000382}}
.node-product-type .cloud-zoom-container .cloud-zoom-gallery-thumbs {
  clear: none;
  float: none !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/holos\.pantheon\/sites\/all\/themes\/omega_kickstart\/scss\/omega-kickstart-alpha-default-narrow\.scss}line{font-family:\0000385}}
  .node-product-type .cloud-zoom-container .cloud-zoom-gallery-thumbs .cloud-zoom-gallery {
    margin: 5px; }
